@import '../../styles/main.scss';
$footer_color:#d6d9dc;
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $deep_gray;
    padding-left: 0.5rem;
    height: 10vh;
    .footer_fil_logo {
        padding: 0;
        display: flex;
        align-items: center;
        svg {
            border: 1px solid $footer_color;
            width: 8vh;
            height: 8vh;
        }
    }
    .footer_fil_copyright {
        display: flex;
        align-items: center;
        .fil_icon {
            margin-right: 0.2rem;
            margin-left: 1rem;
            font-size: 1rem;
        }
        @include font('small', $footer_color);
    }
    .back_up {
        @include allCenter();
        @include font('medium', $footer_color);
        height: 100%;
        width: 10vh;
        border-left: 1px solid $footer_color;
        cursor: pointer;
    }
}