<div class="footer_container">
    <div class="footer_fil_logo">
        <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-di-res-id="696847e4-db4c8b67" data-di-rand="1632093197513">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="fidelity_international_mono_symbol">
                    <g id="symbol">
                        <polygon id="symbol-container" points="0 54 54 54 54 0 0 0" stroke-width="4"></polygon>
                        <polygon id="currency-symbol" fill="#FFFFFF" style="transform: translate(3px,2px);" points="32.9126 15.4956 32.9126 10.9446 18.5936 10.9446 18.5936 20.7096 18.2046
                                20.7096 15.5036 20.7096 15.5036 23.8156 16.3596 23.8156 18.5936 23.8156 18.5936
                                26.2726 18.1146 26.2726 15.5036 26.2726 15.5036 29.3836 16.2676 29.3836 18.5936
                                29.3836 18.5936 38.9426 24.1166 38.9426 24.1166 29.3836 29.0186 29.3836 30.4066
                                26.2726 24.1166 26.2726 24.1166 25.2296 24.1166 23.8156 31.5296 23.8156 32.9126
                                20.7096 24.1166 20.7096 24.1166 15.4956">
                        </polygon>
                    </g>
                </g>
            </g>
        </svg>
        <span class="footer_fil_copyright">
            <fa-icon [icon]="icon.copyRight" class="fil_icon"></fa-icon>
            FIL Foundsbank GmbH 2021
        </span>
    </div>
    <span class="back_up" (click)="backTop()">
        <fa-icon [icon]="icon.up"></fa-icon>
    </span>
</div>