$dark_gray:#333a43;
$deep_gray:#313740;
$gray:#414956;
$light_gray:#4d5766;
$border_gray:#747c89;
$bg_gray:#eeeff0;
$blue:#016fad;
$btn_blue:#046eab;
$link_blue:#1175aa;
$ext_blue:#006193;
$green:#61b915;
$red:#e51e17;


$mobile:600px;
$tablet_small:1000px;
$tablet:1240px;
$laptop:1439px;
$desktop:1440px;