@import '../../styles/main.scss';
$table_border_color:#dcdee1;
.red_text{
    color: $red;
}
.green_text{
    color: $green;
}
section {
    background-color: #fff;
    overflow-x: auto;
    width: 95%;
    margin: 2rem auto 5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    .table_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $link_blue;
        h2{
            margin-bottom: 0;
        }
    }
    table {
        width:auto;
        border:1px solid $table_border_color;
        thead{
            th{
                text-align: left;
                padding: 0.5rem 0 2.5rem 1rem;
                border-bottom: 1px solid $table_border_color;
                @include font('small',lighten($color: $border_gray, $amount:30));
                &:first-of-type{
                    color: black;
                }
            }
        }
        tbody{
            tr{
                td{
                    white-space: nowrap;
                    border-bottom: 1px solid $table_border_color;
                    padding:0.5rem 1rem;
                    .td_link{
                        display: flex;
                        align-items: center;
                        @include font("normal",$link_blue);
                        a{
                            font-weight: bold;
                            margin-right: 0.5rem;
                        }
                    }
                    .tr_btns{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        button{
                            &[color="primary"]{
                                background-color: $link_blue;
                            }
                        }
                    }
                }
                &:last-of-type{
                    td{
                        border-bottom-width: 0;
                    }
                }
                
            }
                
        }
    }
}

@media (max-width:$mobile) {
    .table_header{
        h2{
            display: flex;
            align-items: center;
            span{
                display: block;
                margin-right:0.5rem;
            }
        }
    }
}